streamlit
shiny
shiny-semantic
requests
langchain
langchain-community
openai
chromadb
unstructured
python-docx
pypdf
beautifulsoup4
pdfminer.six
pillow-heif
matplotlib
unstructured-inference
unstructured-pytesseract
tiktoken
langchain-openai